body{
    background-image: url(https://cdn.pixabay.com/photo/2017/02/15/10/39/food-2068217__340.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-left: 200px;
    border-width: thick;
    border-color: darkblue;

}
header h1{
    text-align: center;
    
}
nav ul li{
display: inline-block;
margin-top: 20px;
margin-left: 70px;

}
nav ul li a{
    color: chartreuse;
    text-decoration: none;
    font-size: 24px;
}

#mansaf{
    color: darkorange;
    font-size: 25px;
}

.shawerma{
    color: darkorange;
}
#falafel{
    color: darkorange;
}

article img{
    width: 50%;
}


footer p{
    text-align: center;
    font-size:22px;
    color: rgb(91, 146, 18);
}